{% extends 'base.html' %}
{% block title %}Main {% endblock %}
{% block content %}
    <div class="card p-5">

        <div class="card-body p-2">
            <div class="card-title h3">About this Project</div>
            This is a startup Project undertaken by Mr. Teisovi Angami (PI)
            and Mr. Shanchamo Yanthan (Co-PI). The aim of this project is to build a Corpus
            for the Tenyidie language and use Machine Learning Technique to translate English
            to Tenyidie and vice versa. This Dictionary app has been created to provide search
            facility to learn the Tenyidie language
        </div>
    </div>
{% endblock %}
