{% extends 'base.html' %}
{% block title %}Main {% endblock %}
{% block content %}
    <div class="col-md-6 col-sm-12">
    {% if 'admin-login' in action %}
        <div class="card m-2">
            <div class="card-header bg-secondary text-white">Admin Login</div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('core.login') }}" class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-text" id="basic-addon2"><i class="fas fa-user"></i></div>
                        <input type="text" required name="user_name" id="user_name" class="form-control" placeholder="User Name or email" aria-label="username" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></div>
                        <input type="password" name="password" required id="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">

                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">Login</button>
                        <button type="button ml-2" class="btn btn-dark">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="card m-2">
            <div class="card-header bg-secondary text-white">Search Words</div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('core.search') }}" class="form-group">
                    {% if locales %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">Select Language</span>
                        <select type="text" class="form-control" name="local_id">
                            {% for locale in locales%}
                                <option value="{{ locale.id }}" {% if local_id and locale.id|trim == local_id %} selected {% endif %}>{{ locale.language }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}

                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="search_text" placeholder="Enter Search Query" aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <button class="input-group-text" id="basic-addon2">Search</button>
                    </div>
                </form>
            </div>
        </div>

        {% if result %}
            <div class="card m-2">
                <div class="card-title p-2 bg-success text-white">Your Search Result</div>
                {% for r in result %}
                    <div class="card-body">
                        <div>English Word: {{ r.eng_word }}</div>
                        <div>English Meaning: {{ r.eng_meaning }}</div>
                        <div>{{ language }} Word: {{ r.local_word }}</div>
                        <div>{{ language }} Meaning: {{ r.local_meaning }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    </div>
    <div class="col-md-6 col-sm-12 bg bg-light">
        <p class=" p-5 mh-100">Welcome to the Dictionary App. You can search for English words or Select the local Dialect from the drop down to search for words in your own dialect.</p>
        <img src="/images/nl_bg.png" width="100%">
    </div>
{% endblock %}
